@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
    *{
        margin:0;
        padding:0;
        box-sizing: border-box;
    }

    .bg-img{
        background: url(./work\image.jpg);
        height: 100vh;
        background-size: cover;
        background-position: center;
    }
    .bg-img::after{
        position: absolute;
        content: '';
        top:0;
        left:0;
        height: 100%;
        width: 100%;
        background: rgba(0,0,0,0.7);
    }

    .content{
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        width: 500px;
        height: 550px;
        text-align: center;
        z-index: 999;
        padding: 40px;
        background: rgba(0,0,0,0.5);
    }

    h1{
        color:white;
        font-size:33px;
        font-weight: 750;
        font-family: cursive;
        margin-bottom: 25px;
        text-align: center;
        text-transform: uppercase;
    }

    .field{
        position: relative;
        height: 35px;
        width: 100%;
        max-width: 100%;
        display: flex;
        background: rgba(0,0,0,0.5);
        margin-top: 10px;
        margin-bottom: 10px;
        justify-content: center;
        border-radius: 100%;
    }

    .field input{
        height: 100%;
        width: 100%;
        border: none;
        outline: none;
        font-size: 16px;
        font-family: cursive;
    }

    .field select{
        /* color:grey; */
        height: 100%;
        width: 100%;
        border: none;
        outline: none;
        font-size: 16px;
        font-family: cursive;
        border-radius: 10px;
    }

    .field span{
        color:rgb(119, 112, 112);
        width: 40px;
        line-height: 45px;
        padding-right: 20px;
    }
    
    input {
        border-radius: 10px;
    }

    .btn a{
        position: relative;
        overflow: hidden;
        transition: background 400ms;
        margin-top: 20px;
        padding: 7px 22px;
        height: 60px;
        width: 200px;
        line-height: 60px;
        border-radius: 30px;
        text-decoration: none;
        color:black;
        font-size: 18px;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 2px;
        box-shadow: 0 4px 15px rgba(0,0,0,0.2);
        cursor: pointer;
    }

    .btn a:first-child{
        background-color: 	rgb(189, 165, 165);
    }
    .btn a:hover{
        color: aquamarine;
        cursor: pointer;
    }

/*SECOND CSS STYLE WITH PINK AND BLUE style starts here  */

/* @import url('https://fonts.googleapis.com/css?family=Abel|Abril+Fatface|Alegreya|Arima+Madurai|Dancing+Script|Dosis|Merriweather|Oleo+Script|Overlock|PT+Serif|Pacifico|Playball|Playfair+Display|Share|Unica+One|Vibur');
    *{
        margin:0;
        padding:0;
        box-sizing: border-box;
    }

    body{
        background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
        background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
        background-attachment: fixed;
        background-repeat: no-repeat;
    }
    
    .bg-img{       
        height: 100vh;       
    }

    .bg-img::after{
        position: absolute;
        content: '';
        top:0;
        left:0;
        height: 100%;
        width: 100%;
    }

    .content{
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        width: 500px;
        height: 550px;
        text-align: center;
        z-index: 999;
        padding: 40px;
        background-image: linear-gradient(-225deg, #E3FDF5 50%, #FFE6FA 50%);
    }

    h1{
        margin-bottom: 25px;
        text-align: center;
        text-transform: uppercase;
        font-size: 250%;
        font-family: 'Playfair Display', serif;
        color: #3e403f;
    }

    .field{
        position: relative;
        height: 35px;
        width: 100%;
        max-width: 100%;
        display: flex;
        margin-top: 10px;
        margin-bottom: 10px;
        justify-content: center;
        border-radius: 100%;
    }

    .field input{
        height: 100%;
        width: 100%;
        border-radius: 10px;
        font-family: 'Abel', sans-serif;
        color: #5E6472;
        outline: none;
        border: none;
        font-size: 16px;

    }

    .field select{
        height: 100%;
        width: 100%;
        border-radius: 10px;
        font-family: 'Abel', sans-serif;
        color: #5E6472;
        outline: none;
        border: none;
        font-size: 16px;

    }

    .btn-submit{
        background: #B8F2E6;
        color: #252537;
        width: 280px;
        height: 50px;
        border-radius: 5px;
        outline: none;
        border: none;
        cursor: pointer;
        letter-spacing: 0.05em;
    }

    .btn-submit:active{
        background: #fff;
    }

    .btn-submit:hover{
        background:#fed6e3;
    }
 */