@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

i {
  padding: 10px;
  background: black;
  color: white;
  min-width: 50px;
  text-align: center;
}

input {
  width: 50%;
  padding: 10px;
  outline: none;
  border: 2px solid;
}
select {
  width: 50%;
  padding: 10px;
  outline: none;
  border: 2px solid;
}
